* {
  box-sizing: border-box;
}
body {
  font-family: 'Droid sans', sans-serif;
}
/* Header */
.header {
  background-image: url('../imgs/image2.jpg');
  background-size: cover;
  min-height: 500px;
  position: relative;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 168 255 / 50%);
}
.header .overlay h1 {
  font-size: 50px;
  margin-top: 100px;
}
.header .overlay .plan {
  border: 4px solid white;
  font-size: 20px;
  width: 48%;
  float: left;
  padding: 20px;
  margin-right: 1%;
  margin-left: 1%;
}
.header .overlay .order {
  border: 4px solid white;
  font-size: 20px;
  padding: 20px;
  margin: 30px 1%;
}
@media (max-width: 767px) {
  .header .overlay .plan{
      float: none;
      margin: 0 auto 20px;
      width: 80%;
  }
}
/* Header */
/* Features */
.features {
  padding: 30px 0;
}
.features .h1 {
  font-size: 50px;
  color: #555;
}
.features .feat {
  float: left;
  color: #555;
  margin: 0 20px 0 0;
  margin-bottom: 30px;
}
.features .feat h2 {
  margin: 10px 0 5px;
}
.features .feat p {
  margin: 0;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .features .feat {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .features .feat {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .features .feat {
    width: 30%;
  }
}
/* Features */
/* About Us */
.about {
  background-color: #eee;
  padding: 30px 0;
}
.about .h1 {
  font-size: 50px;
  color: #848484;
}
.about .responsive-p {
  color: #848484;
  font-size: 22px;
}
/* About Us */
/* Our Works */
@media (min-width: 1200px) {
  .works .image {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .works .image {
    width: 33.33333%;
  }
}
@media (min-width: 768px) {
  .works .image {
    width: 50%;
  }
}
.works .image {
  float: left;
}
/* Our Works */
/* Pricing Table */
.pricing {
  background-color: #444;
  color: white;
  padding: 50px 0;
}
.pricing .container {
  display: flex;
}
.pricing .h1 {
  margin: 0 0 20px;
  font-size: 50px;
}
.pricing .plan {
  float: left;
  width: 33.3333%;
  border: 3px solid white;
  padding: 20px 0;
  position: relative;
}
@media (max-width: 768px) {
  .pricing .plan {
      width: 90%;
      margin: 0 auto 10px;
  }
  .pricing .container {
    flex-direction: column;
  }
}
.pricing .best::before {
  content: 'best plan';
  position: absolute;
  top: 10px;
  left: 0;
  background-color: red;
  width: 100%;
  padding: 5px 0;
}
@media (min-width: 768px) {
  .pricing .plan:nth-child(1) {
      order: 2;
  }
  .pricing .plan:nth-child(2) {
      order: 1;
  }
  .pricing .plan:nth-child(3) {
      order: 3;
  }
}
.pricing .plan h3 {
  margin-bottom: 10px;
  font-size: 26px;
}
.pricing .plan .price {
  display: inline-block;
  margin: 0 0 10px;
  color: #eee;
  font-size: 22px;
}
.pricing .plan ul {
  font-size: 18px;
  line-height: 2;
}
/* Pricing Table */
/* What They Say */
.they-say {
  padding: 50px 0;
}
.they-say .h1 {
  font-size: 50px;
  margin: 0 0 30px;
  color: #777;
}
.they-say .person-say {
  background-color: #eee;
  padding: 20px;
  margin: 0 0 20px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  float: left;
}
@media (min-width: 768px) {
  .they-say .person-say:first-of-type {
    width: 100%;
  }
  .they-say .person-say:not(:first-of-type) {
    width: 49%;
  }
  .they-say .person-say:last-of-type {
    margin-left: 2%;
  }
}
@media (min-width: 992px) {
  .they-say .person-say:first-of-type {
    width: 80%;
    margin-left: 10%;
  }
}
.they-say .person-say img {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 50%;
}
.they-say .person-say h3 {
  margin: 0 0 10px;
}
.they-say .person-say p {
  margin: 0;
  line-height: 1.8;
}
@media (max-width: 500px) {
  .they-say .person-say img {
    float: none;
    display: block;
    margin: auto;
  }
  .they-say .person-say h3 {
    text-align: center;
  }
  .they-say .person-say p {
    text-align: center;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .they-say .person-say:not(:first-of-type) img  {
    float: none;
    display: block;
    margin: auto;
  }
  .they-say .person-say:not(:first-of-type) h3  {
    text-align: center;
  }
}
/* What They Say */
/* Information */
.information {
  background-color: #eee;
  padding: 30px 0;
  font-size: 18px;
}
.information .h1 {
  font-size: 50px;
  color: #848484;
}
.information ul li {
  display: inline-block;
  padding: 10px;
  background-color: #ddd;
  cursor: pointer;
}
@media (max-width: 767px) {
.information ul li {
  display: block;
}
}
.information .info-content > div {
  background-color: white;
  padding: 25px;
  line-height: 1.8;
  animation: show .3s ease;
}
@keyframes show {
  from {
    transform: scale(0.9);
  } to {
    transform: scale(1);
  }
}
.information .info-content > div:not(:first-child) {
  display: none;
}
.information ul li.selected {
  background-color: white;
  border-top: 2px solid dodgerblue;
}
/* Information */
/* Footer */
.footer {
  background-color: #333;
  color: #eee;
}
.footer .copyright,
.footer .design {
  float: left;
  padding: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .copyright,
.footer .design {
  width: 100%;
}
}
@media (min-width: 768px) {
  .footer .copyright,
.footer .design {
  width: 50%;
}
}
/* Footer */
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .responsive-p {
    text-align: center;
    font-size: 20px !important;
  }
}
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Frameworks */
.text-c {
  text-align: center;
}
.clear-fix {
  clear: both;
}
.visible-xs {
  display: none;
}
.h1 {
  font-size: 2em;
}
.responsive-p {
  line-height: 1.8;
}
.responsive-img {
  width: 100%;
}
.classic-list  {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img-thumbnail {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}
/* Frameworks */